@import "./reset.css";
@import "./bootstrap.min.css";
@import "./bootstrap-card.css";
@import "./prism.css";
@import "./ionicons.min.css";
@import "./compodoc.css";
@import "./tablesort.css";

/* Nuestro estilo */
h1 {
    color: orange;
}

.menu .title {
    margin-top: 200px;
}

.menu {
    background: url('logotype.png') no-repeat;
    background-size: 140px;
    background-position-x: 50%;
    background-position-y: 30px;
}

.title {
    background-color: green;
}

.title a {
    color: white !important;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
}

.breadcrumb li {
    color: brown;
    font-size: xx-large;
}

#book-search-input {
    background-color: red;
}

#book-search-input input {
    text-align: center;
    color: white;
}